<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Js 3</title>
    <style>
      .box {
        background-color: rgb(0, 0, 0);
        height: 10rem;
        width: 10rem;
      }
      .box.two {
        background-color: rgb(255, 0, 0);
      }

      .box.three {
        background-color: darkgreen;
      }

      /* for us not to see the boxes in v-if statement */
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <!-- * to use the variable  we use double curly braces -->
      <!-- * displays the value of the variable  -->
      {{ greeting }}

      <!-- ! DIRECTIVES -->
      <!-- * two way data binding -->
      <!-- * @keyup is an events, we can also use .prevent and .stop as a modifier-->
      <input @keyup.enter="greet(greeting)" v-model="greeting" type="text" />

      <hr />

      <!-- ! EVENTS -->
      <!-- * button changing variable value -->
      <!-- <button v-on:click="isVisible = !isVisible">Show Box</button> -->
      <!-- * shortend -->
      <!-- <button @click="isVisible = !isVisible">Show Box</button> -->
      <!-- * using methods with function -->
      <button @click="toggleBox">Show Box</button>

      <!-- ! DIRECTIVES -->
      <!-- * if false we'll not see this element in the DOM -->
      <div v-if="isVisible" class="box"></div>
      <!-- <div v-else-if="isVisible2" class="box two"></div>
      <div v-else class="box three"></div> -->

      <!-- * if false we'll see this element in the DOM but the display will be = to none-->
      <!-- <div v-show="isVisible" class="box"></div> -->
    </div>

    <!-- vue js 3 -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: () => {
          return {
            /* you can use any variable/s here */
            greeting: "Hello Vue 3!",
            isVisible: false,
            /* isVisible2: false, */
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greeting) {
            console.log(greeting);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
